  
<%= form_tag '/recommendations/create', :method => :get do %>
    <div class="beige_box">
        <div id="orange_label">
            <img src="../images/eat_what.png">
        </div>
        
        <div id="main_ingredient">
          <h3>Main Ingredient</h3>
            <ul class="main">
              <% Category.find_by_name("Main Ingredient").pairing_descriptors.each do |descriptor| %>
          	    <li class="main"><%= check_box_tag 'pairing_descriptors[]', descriptor.id  %> <%= descriptor.name %></li>
          	  <% end %>
          	</ul>
        </div>
         
        <div id="cuisine">
          <h3>Cuisine</h3>
          	<ul class="main">
              <% Category.find_by_name("Cuisine").pairing_descriptors.each do |descriptor| %>
          	    <li class="main"><%= check_box_tag 'pairing_descriptors[]', descriptor.id  %> <%= descriptor.name %></li>
          	  <% end %>
          	</ul>
        </div>
        
        <div id="button">
            <%= image_submit_tag ("/images/beer_me.png") %>
        </div>
    </div>
    
<% end %>

