<h1>Listing pairing_descriptors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairing_descriptors.each do |pairing_descriptor| %>
  <tr>
    <td><%= pairing_descriptor.name %></td>
    <td><%= pairing_descriptor.category_id %></td>
    <td><%= link_to 'Show', pairing_descriptor %></td>
    <td><%= link_to 'Edit', edit_pairing_descriptor_path(pairing_descriptor) %></td>
    <td><%= link_to 'Destroy', pairing_descriptor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pairing descriptor', new_pairing_descriptor_path %>
